* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --foreground-app: #5d80b8;
    --theme-primary-color: rgba(15, 15, 15, 0.968);
    --theme-secondary-color: rgb(114, 234, 98);
    --theme-terciary-color: white;
    --btn-hover-color: orangered;
    --btn-fontsize-keyboard: 2rem;
    --display-fontsize: 2.8rem;
    --m-top-calc-container: 1%;
}
body {
    font-size: 62.5%;
    background-color: var(--foreground-app);
    font-family: "Roboto", sans-serif;
}
#calc-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    background-color: var(--theme-primary-color);
    width: 100%;
    max-width: 350px;
    height: 550px;
    margin-top: var(--m-top-calc-container);
    border-radius: 20px;
    padding: 10px 1%;
}
h1  {
    color: var(--theme-terciary-color);
    font-size: 2rem;
    text-align: center;
}
#calc-result {
    width: 95%;
    height: 60px;
    background-color: var(--theme-secondary-color);
    margin: 0 auto;
    border-radius: 5px;
    font-size: var(--display-fontsize);
    display: flex;
    justify-content: flex-end;
    box-shadow: -1px 1px 0.3px 0.8px rgb(164, 247, 96);
    text-shadow: 0.8px 0.8px 2px black;
    padding-right: 6px;
}
#keyboard-container {
    display: flex;
    height: 60%;
}
#keyboard-numbers, #keyboard-operators {
    display: grid;
}
#keyboard-numbers {
    width: 75%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.key-number {
    border-radius: 3px;
    font-size: var(--btn-fontsize-keyboard);
    margin: 3px;
    text-decoration: none;
    justify-self: stretch;
    color: var(--theme-terciary-color);
    background-color:transparent;
}
.key-number:hover {
    transition: color 500ms ease-out;
    color:var(--theme-secondary-color);
    outline: 0.1px solid #ddd;
    cursor: pointer;
}
button.key-number:nth-child(11){
    grid-column: span 2;
    color: var(--btn-hover-color);;
}
#keyboard-operators {
    width: calc(100% - 75%);
}
.key-operator {
    font-size: var(--btn-fontsize-keyboard);
    margin-bottom: 3px;
    background-color: transparent;
    color: var(--theme-terciary-color);
}
.key-operator:hover {
    color: var(--btn-hover-color);
    outline: 0.1px solid #ddd;
    font-size: 2.1rem;
    cursor: pointer;
}
/*Breaktpoint: large*/
@media (min-width: 968px) {
    :root {
        --m-top-calc-container: 3%;
    }
}
/*Breaktpoint: extra-large*/
@media (min-width: 1361px) {
    :root {
        --m-top-calc-container: 5%;
    }
    body {
        background-color: rgb(52, 90, 90);
    }
}
